<main>
  <div class="container px-5 px-sm-0">
    <div class="row">
      <%= render 'layouts/sidemenu', {user:@showbook.user, book:@book} %>
      <div class="col-md-8 offset-md-1">
        <h1>Book detail</h1>
        <table class="table">
          <tbody>
            <tr>
              <td><%= attachment_image_tag @showbook.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %><br>
              <%= link_to user_path(@showbook.user) do %><%= @showbook.user.name %><% end %></td>
              <td><%= link_to book_path(@showbook.id) do %><%= @showbook.title %><% end %></td>
              <td><%= @showbook.body %></td>
              <% if @showbook.user == current_user %>
              <td><%= link_to "Edit", edit_book_path(@showbook.id), class: "btn btn-sm btn-success" %></td>
              <td><%= link_to "Destroy", book_path(@showbook), method: :delete, class: "btn btn-sm btn-danger" %></td>
              <% end %>
              <td>コメント件数：<%= @showbook.book_comments.count %></td>
            </tr>
          </tbody>
        </table>
        <div class="book-comment">
          <table>
          <tbody>
            <% @book.book_comments.each do |book_comment| %>
            <tr>
              <td> <%= book_comment.user.name %></td>
              <td> <%= book_comment.comment %></td>
              <% if book_comment.user == current_user %>
              <td> <%= link_to "削除", book_book_comments_path(@book, @book_comment), method: :delete %>
              </td>
              <% end %>
            <% end %>
            </tr>
          </tbody>
          </table>
        </div>

        <div class="new-comment">
          <%= form_with(model:[@book,@book_comment], local: true) do |f| %>
          <%= f.text_area :comment, row:'5' %>
          <%= f.submit %>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</main>



